@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400..900;1,400..900&display=swap');


html, body {
    font-family: 'Roboto';
    font-size: 16px;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

* {
    box-sizing: border-box;
}


.filters {
    display: flex;
    flex-direction: column;
    padding: 2rem;

    &__title {
        font-size: 1.4rem;
        font-weight: 400;
        margin-bottom: 1rem;
    } }


.filter {
    margin-bottom: 2rem;
   
 &__title {
        font-size: 1rem;

 }}

 .type {

    &__option {
        padding-bottom: 0.5rem;
    }
 }


.rating {
   &__box {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
    }

    &__stars {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.25rem;
    }

    .fa-star {
        font-size: 1.2rem;
        color: gray;
    }

    .fa-star.checked {
        color: orange;
    }

    p {
        padding: 0 1rem;
    }
 }

 .tags {

    .tag {
        display: inline-block;
        font-weight: 600;
        border-radius: 30px;
        padding: 0rem 0.9rem;
        line-height: 0.1rem;
        margin: 0.15rem;
        font-size: 1rem;
        cursor: pointer;

        background-color: white;
        color: grey;
        box-shadow: inset 0 0 0 2px grey;
    }

   .tag.checked {
    background-color: grey;
        color:white;
        box-shadow: none;
        
    }

 }

 .search-bar {
    input {
        width: 20rem;
        padding: 0.5rem;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
 }