@use '../lib/variables_mixins.scss' as *;

.aboutUs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    @include small-desktop {
        flex-direction: row-reverse;
        text-align: left;
        padding: 5rem 10rem;
        gap: 2rem;

    }


&__image {
        height: auto;
        width: 100%;
        @include desktop {
        flex-direction: row-reverse;
        padding: 5rem 10rem;
        gap: 7.5rem;

    

     @include small-desktop {
       padding: 5rem 3rem;
       max-width: 50%;
         } 
    }
    }
    

&__text {
    padding: 5rem 3rem;

     @include desktop {
    padding-top: 0;
    }

    @include small-desktop {
        width: 50%;
        text-align: left;
    }
}


&__h1 {
    font-size: 2rem;
    
    }

&__p {
    font-size: 1rem;
    line-height: 1.5rem;

    }

  &__buttons {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 0;

    @include desktop {
      flex-direction: row-reverse;
    }

    @include small-desktop {
    justify-content: left;
    }
  }

  &__contact {
    @include button($esc-light-blue, $esc-textdark);
  }

  &__book {
    color: $esc-darkblue;
    font-weight: bold;

    @include desktop {
      @include button($esc-red, $esc-textlight);
    }
  }

}

.findUs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $esc-textdark; 
    text-align: center;
    color: white;

   
    &__text {
        padding: 4rem 3.5rem;      
    }

    &__h2 {
    text-align: center;
    font-size: 2rem;
    }

}

