@use '../lib/variables_mixins.scss' as *;

.challenges {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-size: 2rem;
    font-weight: normal;
  }

 &__list {
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    max-width: 100%;
    overflow-x: scroll;


    &Item {
      list-style-type: none;

    }
  }

  &__buttons {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 0;

    @include desktop {
      flex-direction: row-reverse;
    }
  }

  &__onsite {
    @include button($esc-light-blue, $esc-textdark);
  }

  &__online {
    color: $esc-darkblue;
    font-weight: bold;

    @include desktop {
      @include button($esc-red, $esc-textlight);
    }
  }
}


.challenge {
  background-color: white;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  margin: 1rem;
  max-width: 26rem;
  min-width: 24rem;
  overflow: hidden;
  position: absolut;

  &__title {
    //font-weight: normal;
    font-size: 1rem;
    margin-top:1rem;
    margin-left:0.4rem;
  }

  &__subtitle {
    align-items: center;
    //display: flex;
    gap: 1rem;
    margin:1rem;
  }

  &__size{
    margin-left: 0.4rem;
  }


  &__imageWrapper {
    position: relative;
    width: 100%;
    height: auto;
  }

  &__rating {
    //display: flex;
    gap: 0.5rem;
    position: relative;
    margin-top: -2rem;

  }

  &__details {
    padding: 0 10px;
    //display: flex;
    justify-content: space-between;
  }

  &__rating {
    //display: flex;
    gap: 4px;
    color: $esc-red;
  }

  &__icon {
    display: flex;
    position: absolute;
    top: 0;
    right: 0.2rem;
    padding: 0.3rem 0.6rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    z-index: 2;
    font-size: 30px;
  }

  &__icon svg {
    margin-top: 0.3rem;
    height: 40px;
    width: 40px;
  }

  &__size {
    font-size: 0.9rem;

  }

  &__description {
    font-size: 0.9rem;
    margin: 1rem 1rem;
  }

  &__buttonWrapper {
    display: flex;
    justify-content: flex-end;
    padding: 0 1rem 1rem;
  }

  &__labels{
    margin: 1rem 1rem;
  }

  &__bookbutton {
    margin-top: auto;
    font-size: 0.9rem;
    @include button($esc-red, $esc-textlight);
    max-width: 20rem;
      width:auto; //hindrar från att fylla hela bredden
      padding: 0.5rem 1rem; //höjd
  }
}

