@use '../lib/variables_mixins.scss' as *;

.challenges {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-size: 2rem;
    font-weight: normal;
  }

  /*&__list {
    padding: 0 1rem;
    display: flex;
    max-width: 100%;
    overflow-x: scroll;*/

 &__list {
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    max-width: 100%;
    overflow-x: visible;


    &Item {
      list-style-type: none;
    }
  }

  &__buttons {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 0;

    @include desktop {
      flex-direction: row-reverse;
    }
  }

  &__onsite {
    @include button($esc-light-blue, $esc-textdark);
  }

  &__online {
    color: $esc-darkblue;
    font-weight: bold;

    @include desktop {
      @include button($esc-red, $esc-textlight);
    }
  }
}


.challenge {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  margin: 1rem;
  max-width: 26rem;
  min-width: 24rem;
  overflow: hidden;
  //max-height: 32rem;

  &__title {
    //font-weight: normal;
    font-size: 1rem;
    margin: 1rem 1rem 0.5rem;
    width: 100%;
  }

  &__subtitle {
    align-items: center;
    display: flex;
    gap:1rem;
    margin: 0 1rem;
  }

  &__rating {
    display: flex;
    gap: 0.5rem;
    padding: 0;

    
  }

  &__details {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
  }

  &__rating {
    display: flex;
    gap:4px;
    color: $esc-red;
  }

  &__size {
    font-size: 1.0rem;
    padding-top: 3px;
  }

  &__description {
    //font-size: 1.2rem;
    font-size: 1.0rem;
    margin: 1rem 1rem;
  }

  &__bookbutton {
    @include button($esc-red, $esc-textlight);
    align-self: flex-end;
    //font-size: 1.2rem;
    font-size: 0.9rem;
    margin: 0 1rem 1rem;
  }
}

