@use '../lib/variables_mixins.scss' as *;

.main{ 
  display: flex;
  flex-wrap: wrap;
}

.contact {
  display: flex;
  flex-direction: column;

  @include desktop {
    flex-direction: row;


    &__image {
      width: 80%;
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    padding:0;
    flex-direction: column;
    
    @include desktop {
      padding:5rem 0 5rem 5rem;
      justify-content: flex-start;
    }
  }

  &__title, &__subtitle {
    margin: 1.5rem 1rem;
  }

  &__description, &__adress {
    font-size: 1.3rem;
    margin: 1rem 1rem;
    max-width:1100px;
    min-width:200px;
  }

  &__info {
    list-style: none;
  }
}

