@use '../lib/variables_mixins.scss' as *;



@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.filters {
    display: none;
    flex-direction: column;
    padding: 1.5rem;
    
    position: relative;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 15px;
    background-color: rgb(251, 248, 248);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    margin: 0 auto 1rem;
    


    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: .6rem;
        border-bottom: 1px solid #eee;
        margin: 0.8rem 0.8rem;
    }


    @include desktop {
        border: 1px solid rgb(216, 216, 216);
    }

    @include small-desktop {
        width: 70%;
        margin: 0 auto 1.2rem;
    }


    &.is-visible {
        display: block;

    }

    &__title {
        font-size: 1.4rem;
        font-weight: 400;
        margin-bottom: 0.5rem;
        margin-top: -0.9rem;
        margin-left: -0.9rem;
    }

    &__close {
        position: absolute;
        top: 0.8rem;
        right: 0.8rem;
        font-size: 1.6rem;
        padding: .3rem;
        border: 0;
        background-color: rgb(251, 248, 248);
        cursor: pointer;
        z-index: 999;

    }
}


.filter {
    margin-bottom: 2rem;

    @include small-desktop {
        float: left;
        width: 50%;
    }

    &__title {
        font-size: 1rem;
        margin-bottom: 0.8rem;
    }
}

.filter:last-child {
    margin-bottom: 0;
}

.type {

    &__option {
        padding-bottom: 0.5rem;
    }
}


.rating {

    @include small-desktop {
        float: left;
        width: 50%;
    }

    &__box {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.1rem;
        margin-top: -1rem;

    }

    &__stars {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 0.25rem;
        //direction: rtl; //för att få stjärnorna till vänster lyser upp
        cursor: pointer;
    }

    .fa-star {
        font-size: 1.2rem;
        color: gray;
    }

    .fa-star.checked {
        color: orange;
    }

    .fa-star:hover,
    .fa-star:hover~.fa-star {
        color: orange;
    }

    p {
        padding: 0 1rem;
    }
}

.tags {

    @include small-desktop {
        float: left;
        width: 100%;

    }

    .tag {
        display: inline-block;
        font-weight: 600;
        border-radius: 30px;
        padding: 0rem 0.9rem;
        line-height: 0.1rem;
        margin: 0.15rem;
        font-size: 1rem;
        cursor: pointer;
        margin-bottom: 0.8rem;
        background-color: white;
        color: grey;
        box-shadow: inset 0 0 0 2px grey;
    }


    .tag.checked {
        background-color: grey;
        color: white;
        box-shadow: none;

    }
    .tag:hover{
        @include hover-effect($esc-darkblue, $esc-textlight);
    }

}

.search-bar {


    input {
        width: 18rem;
        padding: 1rem;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-top: 0.2rem;


        @include desktop {
            width: 20rem;
        }
    }

    //NYTT
    @include small-desktop {
        width: 30rem;
    }
}

//FILTER CHALLENGES
.filterBtn {
    font-size: 1.1rem;
    margin-bottom: 2rem;
}